body{
font-family:Arial;
margin:0;
}

header{
background:#333;
color:white;
padding:20px;
text-align:center;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}

.menu a{
margin:10px;
text-decoration:none;
color:black;
}

.card{
background:#f2f2f2;
padding:30px;
text-align:center;
border-radius:5px;
}

form{
display:flex;
flex-direction:column;
gap:10px;
padding:20px;
}